body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* Header */
.header{
    height: 50vh;
} 

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #ffffff;
}

.fa-avianex{
    color: #fe424d;
    font-size: 2.5rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/*Cards*/
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p { 
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
    color: #222222;
}

/*Card Hover Effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: #ffffff;;
}
/*new page*/

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}